[submodule "core/3p/codemirror"]
	path = core/3p/codemirror
	url = git://github.com/clorch/CodeMirror2.git
[submodule "core/3p/markdown"]
	path = core/3p/markdown
	url = git://github.com/michelf/php-markdown.git
[submodule "core/3p/jpgraph"]
	path = core/3p/jpgraph
	url = git://github.com/clorch/JpGraph.git
[submodule "core/3p/phpbrowscap"]
	path = core/3p/phpbrowscap
	url = git://github.com/GaretJax/phpbrowscap.git
[submodule "core/3p/phpexcel"]
	path = core/3p/phpexcel
	url = git://github.com/PHPOffice/PHPExcel.git
