pre {
	background-color:#ddd;
	padding:4px;
}

pre.codeblock {
	padding:5px 10px;
	border:1px solid #aaa;
}

div.steppreview {
	padding:10px;
	background-color:#FFFCE8;
	border: 1px solid #9E8B00;
}

/* ==================================== Menu */

ul.menu {
	margin:0;
	margin-bottom:-7px;
	padding:0;
	list-style-type:none;
}

ul.menu li {
	display:inline-block;
	padding: 6px 15px;
	background-color:#555;
	margin-right:7px;
}

ul.menu li a {
	text-decoration: none;
	font-size:15px;
	font-weight:bold;
	color:#eee;
}

/* ==================================== Step Meta List */

table.meta {
	border-collapse:collapse;
	border:1px solid #aaa;
}

table.meta tr:nth-child(2n) {
	background-color:#ccc;
}

table.meta th {
	padding:4px 15px;
	text-align:left;
}

table.meta td {
	padding:4px 15px;
}

/* ==================================== Step List */

table.steps {
	border-collapse:collapse;
	border:1px solid #aaa;
}

table.steps tr.step {
	background-color:#ccc;
	border-top:1px solid #888;
}

table.steps tr.step td {
	padding:7px 15px;
}

table.steps td.number {
	font-size:35px;
	vertical-align: top;
}

table.steps td.command {
	font-size:17px;
	font-weight:bold;
}

table.steps td.argument {
	font-size:17px;
}

table.steps tr.property td {
	padding:4px 15px;
}

/* ==================================== Batch List */
.batchlist {
	border:1px solid #aaa;
	list-style-type: none;
	padding:0;
}

.batchrow {
	padding:12px;
}

.batchrow:hover {
	background-color:#333;
}

.batchrow:nth-child(2n) {
	background-color:#ccc;
}

.batchrow:nth-child(2n):hover {
	background-color:#333;
}

.batchrow a {
	color:black;
	text-decoration:none;
}

.batchrow:hover {
	color:#eee;
}

.batchrow:hover a {
	color:#eee;
}

.batchrow .id {
	font-size:18px;
}

.batchrow .title {
	font-size:12px;
	margin-top:4px;
}

.batchrow .infofloat {
	font-size:25px;
	text-align:center;
	margin-left:15px;
	float:right;
}

.batchrow .infofloat:after {
	display:block;
	font-size:9px;
	text-transform:uppercase;
}

.batchrow .steps:after {
	content: "Steps";
}

.batchrow .workers:after {
	content: "Workers";
}

.batchrow .finished:after {
	content: "Finished";
}